<html>
<body>
<h1>Dinky-Linky</h1>
<a href="/items/new">create a new item</a>
<ul>
  <li>1 dinky linky...<a href="/items/1">Show item</a>
  <li>2 dinky linky...<a href="/items/1">Show item</a>
  <li>3 dinky linky...<a href="/items/1">Show item</a>
</ul>
<p>Muahahaha!</p>
</body>
</html>